<!DOCTYPE html>
<html lang="zh-Hans">
<head><title data-vue-meta="true">动画 - 哔哩哔哩 (゜-゜)つロ 干杯~-bilibili</title>
    <meta data-vue-meta="true" http-equiv="Content-Type" content="text/html" charset="utf-8">
    <meta data-vue-meta="true" name="renderer" content="webkit">
    <meta data-vue-meta="true" http-equiv="X-UA-Compatible" content="IE=edge">
    <meta data-vue-meta="true" itemprop="keywords" name="keywords"
          content="B站,弹幕,字幕,AMV,MAD,MTV,ANIME,动漫,动漫音乐,游戏,游戏解说,ACG,galgame,动画,番组,新番,初音,洛天依,vocaloid">
    <meta data-vue-meta="true" itemprop="description" name="description"
          content="bilibili是国内知名的视频弹幕网站，这里有最及时的动漫新番，最棒的ACG氛围，最有创意的Up主。大家可以在这里找到许多欢乐。">
    <meta name="spm_prefix" content="333.5">
    <link rel="shortcut icon" href="//static.hdslb.com/images/favicon.ico">
    <link rel="search" type="application/opensearchdescription+xml" href="//static.hdslb.com/opensearch.xml"
          title="哔哩哔哩">
    <script type="text/javascript">window.__BILI_CONFIG__ = {"show_bv": true}</script>
    <script type="text/javascript" src="//s1.hdslb.com/bfs/static/jinkela/long/js/jquery/jquery1.7.2.min.js"></script>
    <script type="text/javascript" src="//s1.hdslb.com/bfs/cm/st/bundle.js" crossorigin></script>
    <script type="text/javascript">window.spmReportData = {}, window.reportConfig = {
        sample: 1,
        scrollTracker: !0,
        msgObjects: "spmReportData",
        errorTracker: !0
    }</script>
    <script type="text/javascript">window.isForceNarrow = !0</script>
    <link rel="preload"
          href="//s1.hdslb.com/bfs/static/jinkela/channel/1.channel.eb822b6a901862cc1aafed6225c1bc1c042f83bc.js"
          as="script">
    <link rel="preload"
          href="//s1.hdslb.com/bfs/static/jinkela/channel/css/channel.0.eb822b6a901862cc1aafed6225c1bc1c042f83bc.css"
          as="style">
    <link rel="preload"
          href="//s1.hdslb.com/bfs/static/jinkela/channel/channel.eb822b6a901862cc1aafed6225c1bc1c042f83bc.js"
          as="script">
    <link rel="stylesheet"
          href="//s1.hdslb.com/bfs/static/jinkela/channel/css/channel.0.eb822b6a901862cc1aafed6225c1bc1c042f83bc.css">
</head>
<body>
<div class="z-top-container has-menu" type="all" style="min-height:229px"></div>
<div id="channel-app"></div>
<div id="app" data-server-rendered="true">
    <div class="bili-wrapper">
        <div id="subnav" class="sub-nav-m report-wrap-module">
            <ul class="clearfix">
                <li class="on"><a href="/v/douga/">全部</a></li>
                <li><a href="/v/douga/mad/">MAD·AMV<!----></a></li>
                <li><a href="/v/douga/mmd/">MMD·3D<!----></a></li>
                <li><a href="/v/douga/voice/">短片·手书·配音<!----></a></li>
                <li><a href="/v/douga/tokusatsu/">特摄<!----></a></li>
                <li><a href="/v/douga/other/">综合<!----></a></li>
            </ul>
            <div class="tips"><i class="t-arrow"></i>
                <p></p></div>
        </div>
        <div class="channel-m">
            <div class="nominate-m clearfix report-wrap-module report-scroll-module">
                <div class="carousel-box" style="width:620px;height:220px;">
                    <div class="load-state"><span class="loading">正在加载...</span><!----><!----></div>
                    <div class="carousel-module">
                        <div class="panel">
                            <ul class="pic" style="width:0%;margin-left:--100%;height:;margin-top:;"></ul><!----><!---->
                        </div>
                    </div>
                </div>
                <div class="video-card-box">
                    <div class="groom-box-m clearfix">
                        <div class="groom-module"><a href="//www.bilibili.com/video/BV157411C7ry" target="_blank"
                                                     title="【JOJO】乔斯达先生，我会一直守护你的家人，直到永远——SPW">
                            <div class="lazy-img"><img alt="【JOJO】乔斯达先生，我会一直守护你的家人，直到永远——SPW" src=""></div><!---->
                            <div class="card-mark"><p class="title">【JOJO】乔斯达先生，我会一直守护你的家人，直到永远——SPW</p>
                                <p class="author">up主：宇宙无敌-大魔王</p>
                                <p class="play">播放：13.9万</p></div>
                        </a>
                            <div class="watch-later-trigger w-later"></div>
                        </div>
                        <div class="groom-module"><a href="//www.bilibili.com/video/BV1Z7411C74p" target="_blank"
                                                     title="建议改成：冠 位 美 食 家【人类恶的奇妙冒险01】">
                            <div class="lazy-img"><img alt="建议改成：冠 位 美 食 家【人类恶的奇妙冒险01】" src=""></div><!---->
                            <div class="card-mark"><p class="title">建议改成：冠 位 美 食 家【人类恶的奇妙冒险01】</p>
                                <p class="author">up主：结衣Yui狐</p>
                                <p class="play">播放：7.6万</p></div>
                        </a>
                            <div class="watch-later-trigger w-later"></div>
                        </div>
                        <div class="groom-module"><a href="//www.bilibili.com/video/BV157411Q7gP" target="_blank"
                                                     title="【再現MMD】Level Up！看我一命通关！！【假面骑士Ex-aid变身还原】">
                            <div class="lazy-img"><img alt="【再現MMD】Level Up！看我一命通关！！【假面骑士Ex-aid变身还原】" src=""></div>
                            <!---->
                            <div class="card-mark"><p class="title">【再現MMD】Level Up！看我一命通关！！【假面骑士Ex-aid变身还原】</p>
                                <p class="author">up主：AHKちゃん</p>
                                <p class="play">播放：1.2万</p></div>
                        </a>
                            <div class="watch-later-trigger w-later"></div>
                        </div>
                        <div class="groom-module"><a href="//www.bilibili.com/video/BV1u7411C7ag" target="_blank"
                                                     title="【东方手书】来同归于尽吧">
                            <div class="lazy-img"><img alt="【东方手书】来同归于尽吧" src=""></div><!---->
                            <div class="card-mark"><p class="title">【东方手书】来同归于尽吧</p>
                                <p class="author">up主：堀川球</p>
                                <p class="play">播放：3415</p></div>
                        </a>
                            <div class="watch-later-trigger w-later"></div>
                        </div>
                        <div class="groom-module"><a href="//www.bilibili.com/video/BV1qK4y1C7ZX" target="_blank"
                                                     title="【凹凸学园/全员向】  扫除时间">
                            <div class="lazy-img"><img alt="【凹凸学园/全员向】  扫除时间" src=""></div><!---->
                            <div class="card-mark"><p class="title">【凹凸学园/全员向】 扫除时间</p>
                                <p class="author">up主：白泽今天依旧在画画</p>
                                <p class="play">播放：3.5万</p></div>
                        </a>
                            <div class="watch-later-trigger w-later"></div>
                        </div>
                        <div class="groom-module"><a href="//www.bilibili.com/video/BV1G7411C7U1" target="_blank"
                                                     title="【明日方舟手书】紗痲（砾博）">
                            <div class="lazy-img"><img alt="【明日方舟手书】紗痲（砾博）" src=""></div><!---->
                            <div class="card-mark"><p class="title">【明日方舟手书】紗痲（砾博）</p>
                                <p class="author">up主：黑椒白丸</p>
                                <p class="play">播放：10.1万</p></div>
                        </a>
                            <div class="watch-later-trigger w-later"></div>
                        </div>
                        <div class="groom-module"><a href="//www.bilibili.com/video/BV1G7411y7a2" target="_blank"
                                                     title="【冰糖x京华x帕里x猫猫】京 哥 不 要 【配音】">
                            <div class="lazy-img"><img alt="【冰糖x京华x帕里x猫猫】京 哥 不 要 【配音】" src=""></div><!---->
                            <div class="card-mark"><p class="title">【冰糖x京华x帕里x猫猫】京 哥 不 要 【配音】</p>
                                <p class="author">up主：进击的冰糖</p>
                                <p class="play">播放：16.5万</p></div>
                        </a>
                            <div class="watch-later-trigger w-later"></div>
                        </div>
                        <div class="groom-module"><a href="//www.bilibili.com/video/BV1Q7411y7Af" target="_blank"
                                                     title="&quot;兔子魔女(Witch Bunny)&quot; fan animation - Trouble (Annella)">
                            <div class="lazy-img"><img
                                    alt="&quot;兔子魔女(Witch Bunny)&quot; fan animation - Trouble (Annella)" src=""></div>
                            <!---->
                            <div class="card-mark"><p class="title">&quot;兔子魔女(Witch Bunny)&quot; fan animation -
                                Trouble (Annella)</p>
                                <p class="author">up主：andrew5450</p>
                                <p class="play">播放：22.1万</p></div>
                        </a>
                            <div class="watch-later-trigger w-later"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="high_energy"
                 class="energy-m clearfix report-wrap-module report-scroll-module report-wrap-module report-scroll-module">
                <div class="l-con">
                    <div class="headline clearfix"><span class="name"></span></div>
                    <div class="storey-box clearfix">
                        <div class="load-state"><span class="loading">正在加载...</span><!----><!----></div>
                    </div>
                </div>
                <div class="r-con">
                    <div class="headline headline-right clearfix"><span class="name">近期热门</span></div>
                    <div id="recent_hot" class="hot-box report-wrap-module report-scroll-module">
                        <ul></ul>
                    </div>
                </div>
            </div>
            <div id="douga_mad" class="sub-zone-m clearfix report-wrap-module report-scroll-module"><!---->
                <div class="clearfix">
                    <div class="video-floor-m l-con">
                        <div class="zone-title">
                            <div class="headline clearfix"><a href="/v/douga/mad/" class="name">MAD·AMV</a>
                                <div class="bili-tab bili-tab">
                                    <div class="bili-tab-item on">有新动态</div>
                                    <div class="bili-tab-item">最新投稿</div>
                                </div><!----><a href="/v/douga/mad/" target="_blank" class="link-more">更多<i
                                        class="icon"></i></a><!----></div>
                        </div>
                        <div class="storey-box clearfix" style="height:504px;">
                            <div class="load-state"><span class="loading">正在加载...</span><!----><!----></div>
                        </div>
                    </div>
                    <div class="r-con"><!---->
                        <section class="sec-rank">
                            <header class="rank-head"><h3>热门</h3>
                                <div class="bili-tab rank-tab">
                                    <div class="bili-tab-item on">全部</div>
                                    <div class="bili-tab-item">原创</div>
                                </div>
                                <div class="bili-dropdown rank-dropdown"><span class="selected">三日</span><i
                                        class="icon icon-arrow-down"></i>
                                    <ul class="dropdown-list">
                                        <li class="dropdown-item" style="display:none;">三日</li>
                                        <li class="dropdown-item" style="display:;">一周</li>
                                    </ul>
                                </div>
                            </header>
                            <div class="rank-list-wrap">
                                <ul class="rank-list hot-list">
                                    <li class="state">
                                        <div class="b-loading"><!----><!----></div>
                                    </li>
                                </ul>
                                <ul class="rank-list origin-list">
                                    <li class="state">
                                        <div class="b-loading"><!----><!----></div>
                                    </li>
                                </ul>
                            </div>
                            <a href="/v/douga/mad/#/all/click/0/1/?open=hot" target="_blank" class="more-link">查看更多<i
                                    class="icon icon-arrow-r"></i></a></section>
                    </div>
                </div><!----></div>
            <div id="douga_mmd" class="sub-zone-m clearfix report-wrap-module report-scroll-module"><!---->
                <div class="clearfix">
                    <div class="video-floor-m l-con">
                        <div class="zone-title">
                            <div class="headline clearfix"><a href="/v/douga/mmd/" class="name">MMD·3D</a>
                                <div class="bili-tab bili-tab">
                                    <div class="bili-tab-item on">有新动态</div>
                                    <div class="bili-tab-item">最新投稿</div>
                                </div><!----><a href="/v/douga/mmd/" target="_blank" class="link-more">更多<i
                                        class="icon"></i></a><!----></div>
                        </div>
                        <div class="storey-box clearfix" style="height:504px;">
                            <div class="load-state"><span class="loading">正在加载...</span><!----><!----></div>
                        </div>
                    </div>
                    <div class="r-con"><!---->
                        <section class="sec-rank">
                            <header class="rank-head"><h3>热门</h3>
                                <div class="bili-tab rank-tab">
                                    <div class="bili-tab-item on">全部</div>
                                    <div class="bili-tab-item">原创</div>
                                </div>
                                <div class="bili-dropdown rank-dropdown"><span class="selected">三日</span><i
                                        class="icon icon-arrow-down"></i>
                                    <ul class="dropdown-list">
                                        <li class="dropdown-item" style="display:none;">三日</li>
                                        <li class="dropdown-item" style="display:;">一周</li>
                                    </ul>
                                </div>
                            </header>
                            <div class="rank-list-wrap">
                                <ul class="rank-list hot-list">
                                    <li class="state">
                                        <div class="b-loading"><!----><!----></div>
                                    </li>
                                </ul>
                                <ul class="rank-list origin-list">
                                    <li class="state">
                                        <div class="b-loading"><!----><!----></div>
                                    </li>
                                </ul>
                            </div>
                            <a href="/v/douga/mmd/#/all/click/0/1/?open=hot" target="_blank" class="more-link">查看更多<i
                                    class="icon icon-arrow-r"></i></a></section>
                    </div>
                </div><!----></div>
            <div id="douga_voice" class="sub-zone-m clearfix report-wrap-module report-scroll-module"><!---->
                <div class="clearfix">
                    <div class="video-floor-m l-con">
                        <div class="zone-title">
                            <div class="headline clearfix"><a href="/v/douga/voice/" class="name">短片·手书·配音</a>
                                <div class="bili-tab bili-tab">
                                    <div class="bili-tab-item on">有新动态</div>
                                    <div class="bili-tab-item">最新投稿</div>
                                </div><!----><a href="/v/douga/voice/" target="_blank" class="link-more">更多<i
                                        class="icon"></i></a><!----></div>
                        </div>
                        <div class="storey-box clearfix" style="height:504px;">
                            <div class="load-state"><span class="loading">正在加载...</span><!----><!----></div>
                        </div>
                    </div>
                    <div class="r-con"><!---->
                        <section class="sec-rank">
                            <header class="rank-head"><h3>热门</h3>
                                <div class="bili-tab rank-tab">
                                    <div class="bili-tab-item on">全部</div>
                                    <div class="bili-tab-item">原创</div>
                                </div>
                                <div class="bili-dropdown rank-dropdown"><span class="selected">三日</span><i
                                        class="icon icon-arrow-down"></i>
                                    <ul class="dropdown-list">
                                        <li class="dropdown-item" style="display:none;">三日</li>
                                        <li class="dropdown-item" style="display:;">一周</li>
                                    </ul>
                                </div>
                            </header>
                            <div class="rank-list-wrap">
                                <ul class="rank-list hot-list">
                                    <li class="state">
                                        <div class="b-loading"><!----><!----></div>
                                    </li>
                                </ul>
                                <ul class="rank-list origin-list">
                                    <li class="state">
                                        <div class="b-loading"><!----><!----></div>
                                    </li>
                                </ul>
                            </div>
                            <a href="/v/douga/voice/#/all/click/0/1/?open=hot" target="_blank" class="more-link">查看更多<i
                                    class="icon icon-arrow-r"></i></a></section>
                    </div>
                </div><!----></div>
            <div id="douga_tokusatsu" class="sub-zone-m clearfix report-wrap-module report-scroll-module"><!---->
                <div class="clearfix">
                    <div class="video-floor-m l-con">
                        <div class="zone-title">
                            <div class="headline clearfix"><a href="/v/douga/tokusatsu/" class="name">特摄</a>
                                <div class="bili-tab bili-tab">
                                    <div class="bili-tab-item on">有新动态</div>
                                    <div class="bili-tab-item">最新投稿</div>
                                </div><!----><a href="/v/douga/tokusatsu/" target="_blank" class="link-more">更多<i
                                        class="icon"></i></a><!----></div>
                        </div>
                        <div class="storey-box clearfix" style="height:504px;">
                            <div class="load-state"><span class="loading">正在加载...</span><!----><!----></div>
                        </div>
                    </div>
                    <div class="r-con"><!---->
                        <section class="sec-rank">
                            <header class="rank-head"><h3>热门</h3>
                                <div class="bili-tab rank-tab">
                                    <div class="bili-tab-item on">全部</div>
                                    <div class="bili-tab-item">原创</div>
                                </div>
                                <div class="bili-dropdown rank-dropdown"><span class="selected">三日</span><i
                                        class="icon icon-arrow-down"></i>
                                    <ul class="dropdown-list">
                                        <li class="dropdown-item" style="display:none;">三日</li>
                                        <li class="dropdown-item" style="display:;">一周</li>
                                    </ul>
                                </div>
                            </header>
                            <div class="rank-list-wrap">
                                <ul class="rank-list hot-list">
                                    <li class="state">
                                        <div class="b-loading"><!----><!----></div>
                                    </li>
                                </ul>
                                <ul class="rank-list origin-list">
                                    <li class="state">
                                        <div class="b-loading"><!----><!----></div>
                                    </li>
                                </ul>
                            </div>
                            <a href="/v/douga/tokusatsu/#/all/click/0/1/?open=hot" target="_blank" class="more-link">查看更多<i
                                    class="icon icon-arrow-r"></i></a></section>
                    </div>
                </div><!----></div>
            <div id="douga_other" class="sub-zone-m clearfix report-wrap-module report-scroll-module"><!---->
                <div class="clearfix">
                    <div class="video-floor-m l-con">
                        <div class="zone-title">
                            <div class="headline clearfix"><a href="/v/douga/other/" class="name">综合</a>
                                <div class="bili-tab bili-tab">
                                    <div class="bili-tab-item on">有新动态</div>
                                    <div class="bili-tab-item">最新投稿</div>
                                </div><!----><a href="/v/douga/other/" target="_blank" class="link-more">更多<i
                                        class="icon"></i></a><!----></div>
                        </div>
                        <div class="storey-box clearfix" style="height:504px;">
                            <div class="load-state"><span class="loading">正在加载...</span><!----><!----></div>
                        </div>
                    </div>
                    <div class="r-con"><!---->
                        <section class="sec-rank">
                            <header class="rank-head"><h3>热门</h3>
                                <div class="bili-tab rank-tab">
                                    <div class="bili-tab-item on">全部</div>
                                    <div class="bili-tab-item">原创</div>
                                </div>
                                <div class="bili-dropdown rank-dropdown"><span class="selected">三日</span><i
                                        class="icon icon-arrow-down"></i>
                                    <ul class="dropdown-list">
                                        <li class="dropdown-item" style="display:none;">三日</li>
                                        <li class="dropdown-item" style="display:;">一周</li>
                                    </ul>
                                </div>
                            </header>
                            <div class="rank-list-wrap">
                                <ul class="rank-list hot-list">
                                    <li class="state">
                                        <div class="b-loading"><!----><!----></div>
                                    </li>
                                </ul>
                                <ul class="rank-list origin-list">
                                    <li class="state">
                                        <div class="b-loading"><!----><!----></div>
                                    </li>
                                </ul>
                            </div>
                            <a href="/v/douga/other/#/all/click/0/1/?open=hot" target="_blank" class="more-link">查看更多<i
                                    class="icon icon-arrow-r"></i></a></section>
                    </div>
                </div><!----></div>
        </div>
        <div class="go-top-m" style="display:none;">
            <div title="返回顶部" class="go-top icon"></div>
        </div>
    </div><!----><!----></div>
<script>window.__INITIAL_STATE__ = {
    "channelName": "douga",
    "subChannelName": "",
    "config": {
        "name": "动画",
        "route": "douga",
        "tid": 1,
        "locid": 52,
        "count": "",
        "subMenuSize": 162,
        "slider": {"width": 620, "height": 220},
        "viewTag": false,
        "customComponent": {"name": "Energy", "titleId": 2507, "leftId": 2452, "rightId": 2453},
        "sub": [{
            "name": "MAD·AMV",
            "route": "mad",
            "tid": 24,
            "ps": 15,
            "rps": 10,
            "ad": {"active": true, "dataLocId": 151},
            "desc": "具有一定制作程度的动画或静画的二次创作视频",
            "url": "\u002F\u002Fwww.bilibili.com\u002Fvideo\u002Fdouga-mad-1.html"
        }, {
            "name": "MMD·3D",
            "route": "mmd",
            "tid": 25,
            "ps": 15,
            "rps": 10,
            "ad": {"active": true, "dataLocId": 152},
            "desc": "使用MMD（MikuMikuDance）和其他3D建模类软件制作的视频",
            "url": "\u002F\u002Fwww.bilibili.com\u002Fvideo\u002Fdouga-mmd-1.html"
        }, {
            "name": "短片·手书·配音",
            "route": "voice",
            "tid": 47,
            "ps": 15,
            "rps": 10,
            "desc": "追求创新并具有强烈特色的短片、手书（绘）及ACG相关配音",
            "url": "\u002F\u002Fwww.bilibili.com\u002Fvideo\u002Fdouga-voice-1.html"
        }, {
            "name": "特摄",
            "route": "tokusatsu",
            "tid": 86,
            "ps": 15,
            "rps": 10,
            "desc": "特摄相关衍生视频",
            "url": "\u002F\u002Fwww.bilibili.com\u002Fvideo\u002Fcinephile-tokusatsu.html"
        }, {
            "name": "综合",
            "route": "other",
            "tid": 27,
            "ps": 15,
            "rps": 10,
            "ad": {"active": true, "dataLocId": 153},
            "desc": "以动画及动画相关内容为素材，包括但不仅限于音频替换、杂谈、排行榜等内容",
            "url": "\u002F\u002Fwww.bilibili.com\u002Fvideo\u002Fdouga-else-1.html"
        }]
    },
    "counts": {},
    "recommendData": [{
        "aid": "99364360",
        "bvid": "BV157411C7ry",
        "typename": "MAD·AMV",
        "title": "【JOJO】乔斯达先生，我会一直守护你的家人，直到永远——SPW",
        "subtitle": "",
        "play": 138760,
        "review": 1156,
        "video_review": 683,
        "favorites": 11558,
        "mid": 270626088,
        "author": "宇宙无敌-大魔王",
        "description": "BGM:something just like this\n这位老人用一生去守护乔斯达家族，见证了乔斯达家族的兴盛与衰亡，建立了SPW财团，把自己宝贵的青春奉献给了人类的事业。\n终生未娶。\n\n89岁的老人心脏病突发，弥留之际，回忆了起曾经......\n\n就是在那个冬日的猛鬼街，他感受到了一位绅士真挚的友情\n\n......\n\n那奇妙的冒险永远埋藏在他内心深处，\n\n仿佛轮船就在昨天离开了英国\n\n......\n\n他多想再次说出那句话，尽管曾经回应的人已经消失....\n\n“我是爱多管闲事的史比特瓦根!”\n说乔纳森是",
        "create": "2020-03-27 08:00",
        "pic": "http:\u002F\u002Fi1.hdslb.com\u002Fbfs\u002Farchive\u002F63618d632009626f006409c243e0fbc9f2cd6b62.jpg",
        "coins": 17174,
        "duration": "4:07",
        "badgepay": false,
        "rights": {
            "bp": 0,
            "elec": 0,
            "download": 0,
            "movie": 0,
            "pay": 0,
            "hd5": 1,
            "no_reprint": 1,
            "autoplay": 1,
            "ugc_pay": 0,
            "is_cooperation": 0,
            "ugc_pay_preview": 0,
            "no_background": 0
        }
    }, {
        "aid": "99535777",
        "bvid": "BV1Z7411C74p",
        "typename": "短片·手书·配音",
        "title": "建议改成：冠 位 美 食 家【人类恶的奇妙冒险01】",
        "subtitle": "",
        "play": 76497,
        "review": 200,
        "video_review": 67,
        "favorites": 1429,
        "mid": 87356644,
        "author": "结衣Yui狐",
        "description": "据说是根据王哈桑的冠位一口！有了这个作品~\n伊什塔尔舍弃女神格位的一口\n附红A与凛的彩蛋~？\n\n【STAFF】\n咕哒子CV：结衣Yui狐\n伊什塔尔CV:结衣Yui狐\n\n剧本：墨家白银\n翻译：结衣Yui狐\n翻译润色：Reiji-白龙\n\n画图：结衣Yui狐\n后期 ：结衣Yui狐\n\n【鸣谢】\n配音指导：一个可爱又迷人的反派角色\n\n【画图说明】\n官方愚人节卡面基础上改表情，改改改\n有几个画面是自己原创画的，可以找找看~\n有JOJO画风注意！\n画画方面是个渣，还请大佬们高抬贵手！\n\n这次与白龙、白银的三位一体合作非",
        "create": "2020-03-26 19:10",
        "pic": "http:\u002F\u002Fi1.hdslb.com\u002Fbfs\u002Farchive\u002F26c9fda15217ff9e5acad3a0318808dd8047ce14.jpg",
        "coins": 1130,
        "duration": "0:59",
        "badgepay": false,
        "rights": {
            "bp": 0,
            "elec": 0,
            "download": 0,
            "movie": 0,
            "pay": 0,
            "hd5": 0,
            "no_reprint": 1,
            "autoplay": 1,
            "ugc_pay": 0,
            "is_cooperation": 0,
            "ugc_pay_preview": 0,
            "no_background": 0
        }
    }, {
        "aid": "99901947",
        "bvid": "BV157411Q7gP",
        "typename": "MMD·3D",
        "title": "【再現MMD】Level Up！看我一命通关！！【假面骑士Ex-aid变身还原】",
        "subtitle": "",
        "play": 11805,
        "review": 120,
        "video_review": 11,
        "favorites": 613,
        "mid": 3046683,
        "author": "AHKちゃん",
        "description": "咕咕咕咕咕咕咕咕咕咕咕咕咕，咕咕咕咕咕咕咕咕咕咕咕，咕咕咕咕咕咕咕咕咕咕咕咕咕，咕咕咕咕咕咕咕，咕。\n翻译：其实这是很久很久以前做的了，只是一直都没有单独投稿，于是想想不如加点东西发上来，也算作是更新了，嗯。\n（打我的时候麻烦下手轻点不要打脑壳谢谢嘤嘤嘤）\n\n由于视频太短了，借物表就不放视频里了，写简介好了：\n模型来自yu瓜様、YORS様、とりそば様，\nMME来自斯様、そぼろ様、ikeno様、おたもん様、針金P様、BeammanP様，\n动作自K，\n软件MMD、AE、PR。\n\n以上。",
        "create": "2020-03-28 03:33",
        "pic": "http:\u002F\u002Fi1.hdslb.com\u002Fbfs\u002Farchive\u002Ffefc7e7d9f4ea8e2c54f4978f37baad33c157245.jpg",
        "coins": 621,
        "duration": "0:15",
        "badgepay": false,
        "rights": {
            "bp": 0,
            "elec": 0,
            "download": 0,
            "movie": 0,
            "pay": 0,
            "hd5": 1,
            "no_reprint": 1,
            "autoplay": 1,
            "ugc_pay": 0,
            "is_cooperation": 0,
            "ugc_pay_preview": 0,
            "no_background": 0
        }
    }, {
        "aid": "99373615",
        "bvid": "BV1u7411C7ag",
        "typename": "短片·手书·配音",
        "title": "【东方手书】来同归于尽吧",
        "subtitle": "",
        "play": 3415,
        "review": 75,
        "video_review": 19,
        "favorites": 414,
        "mid": 2237857,
        "author": "堀川球",
        "description": "本家：av17739873\u002Fsm32498233\nNeru-くたばろうぜ\n是描改向手书，辉针城全员向。私心有，我流人设（不是），若鹭姬我尽力了hhhhhhhh\n画力技术力严重不足观感极差还请原谅，祝食用愉快！",
        "create": "2020-03-26 18:05",
        "pic": "http:\u002F\u002Fi2.hdslb.com\u002Fbfs\u002Farchive\u002F9f3690bc36dc90cf37bb749dd40b9c0dcf24db99.jpg",
        "coins": 323,
        "duration": "3:25",
        "badgepay": false,
        "rights": {
            "bp": 0,
            "elec": 0,
            "download": 0,
            "movie": 0,
            "pay": 0,
            "hd5": 0,
            "no_reprint": 1,
            "autoplay": 1,
            "ugc_pay": 0,
            "is_cooperation": 0,
            "ugc_pay_preview": 0,
            "no_background": 0
        }
    }, {
        "aid": "882552472",
        "bvid": "BV1qK4y1C7ZX",
        "typename": "短片·手书·配音",
        "title": "【凹凸学园\u002F全员向】  扫除时间",
        "subtitle": "",
        "play": 35033,
        "review": 336,
        "video_review": 1382,
        "favorites": 9237,
        "mid": 13264066,
        "author": "白泽今天依旧在画画",
        "description": "希望所有高三学子【包括我】考试时候发光发亮，逢答必过\nbgm【Runaway Baby】\n出处\nbv15x411e7xw\nsm31304117 作者：ﾋﾟｯﾎﾟﾛﾋﾟｯﾎﾟﾛ さん\n 3-Ａとても好きです",
        "create": "2020-03-27 22:54",
        "pic": "http:\u002F\u002Fi0.hdslb.com\u002Fbfs\u002Farchive\u002F23a1d02ef0645345da6a90bf5cdc1c7b20f42ad0.jpg",
        "coins": 5219,
        "duration": "3:29",
        "badgepay": false,
        "rights": {
            "bp": 0,
            "elec": 0,
            "download": 0,
            "movie": 0,
            "pay": 0,
            "hd5": 0,
            "no_reprint": 1,
            "autoplay": 1,
            "ugc_pay": 0,
            "is_cooperation": 0,
            "ugc_pay_preview": 0,
            "no_background": 0
        }
    }, {
        "aid": "99354361",
        "bvid": "BV1G7411C7U1",
        "typename": "短片·手书·配音",
        "title": "【明日方舟手书】紗痲（砾博）",
        "subtitle": "",
        "play": 101025,
        "review": 508,
        "video_review": 337,
        "favorites": 11989,
        "mid": 17364831,
        "author": "黑椒白丸",
        "description": "使用曲:『紗痲』【煮ル果実】\n本家:（sm33974546）\n相关题材:明日方舟\ncp：砾博\n摸鱼产物很菜很菜，脱离原设私设鲁珀人女博有请注意避雷\n以及我是真的不会选封面（\n最后，感谢观看\n今天砾姐姐有新衣服了吗.jpg\n\n补充:\n这个手书毕竟是个砾博手书还请不要过多刷其他角色谢谢（毕竟是我自己画的刷可以但请不要过度）\n以及过于恶心的评论我会删掉\n以上",
        "create": "2020-03-25 23:00",
        "pic": "http:\u002F\u002Fi2.hdslb.com\u002Fbfs\u002Farchive\u002Fa29c93c5651df44bd4d954ee1b5d9f20668a6cb7.jpg",
        "coins": 6641,
        "duration": "2:14",
        "badgepay": false,
        "rights": {
            "bp": 0,
            "elec": 0,
            "download": 0,
            "movie": 0,
            "pay": 0,
            "hd5": 1,
            "no_reprint": 1,
            "autoplay": 1,
            "ugc_pay": 0,
            "is_cooperation": 0,
            "ugc_pay_preview": 0,
            "no_background": 0
        }
    }, {
        "aid": "99552368",
        "bvid": "BV1G7411y7a2",
        "typename": "综合",
        "title": "【冰糖x京华x帕里x猫猫】京 哥 不 要 【配音】",
        "subtitle": "",
        "play": 164796,
        "review": 1793,
        "video_review": 5392,
        "favorites": 11570,
        "mid": 198297,
        "author": "进击的冰糖",
        "description": "听话，让DD们看看！！！！\n\nVtuber们一起配音了奇怪的沙雕生草动画！请欣赏www\n・・・‥‥………………………………………………………‥‥・・・\n■【CV】           \n阿伟-进击的冰糖  \n杰哥-张京华\n彬彬-帕里         \n阿伟的阿嬷-花园serena    \n\n■【动画制作】\n 进击的冰糖\u002F古夕何 \n\n■【协力】\n赝品屋\u002F海と夏と君と\n・・・‥‥………………………………………………………‥‥・・・\n感兴趣的话就关注一下我们吧(*˘︶˘*).｡.:*♡\n\n进击的冰糖的直播间：h",
        "create": "2020-03-27 18:00",
        "pic": "http:\u002F\u002Fi2.hdslb.com\u002Fbfs\u002Farchive\u002F72a76e4f1f1e5450bcbccd67c2e5414b8d6ae7f1.jpg",
        "coins": 17339,
        "duration": "7:12",
        "badgepay": false,
        "rights": {
            "bp": 0,
            "elec": 0,
            "download": 0,
            "movie": 0,
            "pay": 0,
            "hd5": 1,
            "no_reprint": 1,
            "autoplay": 1,
            "ugc_pay": 0,
            "is_cooperation": 1,
            "ugc_pay_preview": 0,
            "no_background": 0
        }
    }, {
        "aid": "99180908",
        "bvid": "BV1Q7411y7Af",
        "typename": "短片·手书·配音",
        "title": "\"兔子魔女(Witch Bunny)\" fan animation - Trouble (Annella)",
        "subtitle": "",
        "play": 221256,
        "review": 539,
        "video_review": 183,
        "favorites": 30639,
        "mid": 186387005,
        "author": "andrew5450",
        "description": "作者:Fernanda Dias Artwork\n\n視頻來源:https:\u002F\u002Fwww.youtube.com\u002Fwatch?v=qhqB9-GWbCg\n\n視頻信息:\nYep, another animation incomplited.\nWell better late than never. I´ll just stop promising this time, and just say that I´ll do what I can.\nBut if  I never get there, I´ll sh",
        "create": "2020-03-25 22:53",
        "pic": "http:\u002F\u002Fi1.hdslb.com\u002Fbfs\u002Farchive\u002F4b10ecda98147e443559461f29b5762ac1881647.jpg",
        "coins": 8619,
        "duration": "0:37",
        "badgepay": false,
        "rights": {
            "bp": 0,
            "elec": 0,
            "download": 0,
            "movie": 0,
            "pay": 0,
            "hd5": 0,
            "no_reprint": 0,
            "autoplay": 1,
            "ugc_pay": 0,
            "is_cooperation": 0,
            "ugc_pay_preview": 0,
            "no_background": 0
        }
    }],
    "LNG": "zh-CN"
};
(function () {
    var s;
    (s = document.currentScript || document.scripts[document.scripts.length - 1]).parentNode.removeChild(s);
}());</script>
<script src="//s1.hdslb.com/bfs/static/jinkela/channel/1.channel.eb822b6a901862cc1aafed6225c1bc1c042f83bc.js"
        defer></script>
<script src="//s1.hdslb.com/bfs/static/jinkela/channel/channel.eb822b6a901862cc1aafed6225c1bc1c042f83bc.js"
        defer></script>
<div class="footer bili-footer"></div><!-- built files will be auto injected -->
<script type="text/javascript">0</script>
<script type="text/javascript">function getCookie(e) {
    var o = new RegExp("(^| )" + e + "=([^;]*)(;|$)"), d = document.cookie.match(o);
    return d ? unescape(d[2]) : null
}

function loadScript(e, o) {
    var d = document.createElement("script");
    d.src = e, d.onload = function () {
        o && o()
    }, document.body.appendChild(d)
}

var header_url = "1" === getCookie("INTVER") ? "//s1.hdslb.com/bfs/seed/jinkela/header-v2/header.js" : "//s1.hdslb.com/bfs/seed/jinkela/header/header.js";
loadScript(header_url, function () {
    loadScript("//s1.hdslb.com/bfs/seed/jinkela/footer-v2/footer.js")
})</script>
</body>
</html>